$clr-primary:#1A3636;
$clr-secondary:#D6BD98;
$clr-tertiary:#677D6A;
$clr-quartery:#40534C;
$clr-bg-light:#F4F1EE;
$clr-bg-light-2:#f9f9f9;

$clr-linear-gradient:linear-gradient(0deg, rgba(26,54,54,0.4066001400560224) 31%, rgba(255,255,255,1) 100%);


$clr-white:#ffffff;
$clr-black:#1A1A1A;
$clr-text:#232323;

$clr-grey-1:#4e4e4e;
$clr-grey-2: #727272;
$clr-light-grey:#dcdcdc;

$clr-seperator:#4e4e4e;


$clr-red:#d8222f;